APP_NAME='ЗТҮС Маягт бүртгэл'
APP_ENV=local
APP_KEY=base64:dVxM/78hiqSQwgU9okXa4tRVNmEWW96Ek/5Z5FDjVAo=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION='oracle'
DB_HOST='192.168.4.180'
DB_PORT='1521'
DB_SERVICE_NAME='UBKAS.UBTZ'
DB_USERNAME='nubilet'
DB_PASSWORD='tasalbar'
DB_CHARSET='AL32UTF8'

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
